.navbar-nav {
    > li {
        .nav-link {
            color:$body-color;
            @extend .colus;
            font-size: 12px;
            padding: 20px 16px;
            position: relative;
            @include media-breakpoint-up(lg) {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 100%;
                    bottom: -2px;
                    height: 5px;
                    background-color: $primary;
                    transition: right 200ms ease-in-out;
                }
                &:hover {
                    &:before {
                        right: 0;
                    }
                }
            }
            @include media-breakpoint-down(sm) {
                padding: 20px 10px;
            }
        }
        &.agile-tickets {
            .nav-link {
                color: $purple;
                position: relative;
                padding: 20px 36px 20px 30px;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 60%;
                    top: 10px;
                    width: 1px;
                    background-color: $hr-color;
                }
                @include media-breakpoint-up(lg) {
                    &:hover {
                        .point-element {
                            right: -3px;
                        }
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding: 20px 25px;
                }
                @media screen and (max-width:374px) {
                    padding: 20px 15px;
                }
            }
        }
        &.schedule-item {
            .nav-link {
                padding: 20px 30px 20px 16px;
                &:last-child {
                    // da commentare poi quando si riattiva tickets
                    padding: 20px 16px;
                    @include media-breakpoint-down(sm) {
                        padding-right: 0;
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding: 20px 10px;
                }

            }
        }
    }
    @include media-breakpoint-down(sm) {
        //decommentare questa linea una volta riattivato il link ai biglietti
        //justify-content: space-between;
        flex: 1;
    }
}

.main-header {
    .container {
        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }
    .main-header-innner {
        border-bottom: 1px solid $hr-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media-breakpoint-down(sm) {
            padding: 0 30px;
        }
        @include media-breakpoint-up(md) {
            padding-top: 42px;
        }
        .agile-brand {
            .agile-brand-link {
                display: inline-block;
                margin-right: 1.5rem;
            }
            @include media-breakpoint-down(sm) {
                display: flex;
                flex: 1;
                .agile-brand-link {
                    height: 30px;
                    padding-right:24px;
                    &.agile-bz {
                        width: 45px;
                        overflow: hidden;
                    }
                    &.iam {
                        width: 30px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
