@import "commons/variables";

@import "bootstrap/bootstrap";

//@import "vendors/lightgallery/lightgallery";

@import "commons/mixins";
@import "commons/commons";
@import "commons/layout";

@import "modules/forms";
@import "modules/fonts";
@import "modules/icons";
@import "modules/buttons";
@import "modules/modals";
//@import "modules/transitions";

//pages

@import "pages/home";

//widgets

@import "widgets/sessionize";
@import "widgets/swipers";
@import "widgets/arrow";

//partials
@import "partials/main-header";
@import "partials/main-footer";

//pages

.hidden {
  display: none;
}

.main-footer-below h2 {
  color: #444;
      margin-bottom: 1.6rem;
}

.main-footer-below p {
  color: #444;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.1rem;
}

