@mixin cover-el{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin reset-box {
  padding: 0;
  margin: 0;
}

@mixin centered{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

@mixin cover-media{
    width: 100%;
    height: 100%;
    object-fit: cover;
}